<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>
<body>
    <ul>
        <a href="/alumnos">Mostrar todos</a>
        {% for items in cursos %}
            <li><a href="?id={{items.id}}">{{items.nombre}}</a></li>
        {% endfor %}
    </ul>
    <h1>Todos los Alumnos</h1>
    {%for items in datos %}
    <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">{{items.nombre}} - Curso : {{items.curso.nombre}}</label><br>
    {% endfor %}
</body>
</html>